* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.wrapper {
  margin-top: 50px;
}
.button {
  background-color: #0091ff;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  margin: 20px 5px;
  cursor: pointer;
}
.counter {
  font-size: 80px;
  text-align: center;
}
